<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :bday %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
